{% extends 'applipizza/base.html' %}
{% block title %}Renouvellement du mot de passe{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-dark">Renouvellement du mot de passe</div>
        <div class="card-body px-5">
            {% if validlink %}
                <p>Veuillez saisir deux fois votre nouveau mot de passe</p>
                <form id="form_password_reset" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" required placeholder="Nouveau mot de passe">
                    </div>

                    <div class="mb-3">
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" required placeholder="Confirmer mot de passe">
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Changer le mot de passe</button>
                </form>
            {% else %}
                <h2>Échec de réinitialisation du mot de passe</h2>
                <p>Le lien de réinitialisation est invalide. Veuillez réessayer.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
