{% extends 'applipizza/base.html' %}
{% load static %}
{% block title %}Renouvellement effectué{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-dark">Renouvellement effectué</div>
        <div class="card-body px-5">
            <h2>Votre mot de passe a été réinitialisé.</h2><br>
            <img class="img-thumbnail" src="{% static 'applipizza/img/pizza.png' %}" alt="logo" style="width: 300px;">
        </div>
        <div class="mb-3">
            <a class="btn btn-dark btn-lg btn-block" href="{% url 'login' %}">Connexion</a>
        </div>
    </div>
</div>
{% endblock %}
