{% extends 'applipizza/base.html' %}
{% block title%}Renouvellement du mot de passe{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 70%;">
        <div class="card-header h5 text-white bg-dark">Renouvellement du mot de passe</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Saisissez votre adresse email dans le formulaire.<br>
                Nous vous enverrons les instructions pour renouveler votre mot de passe.
            </p>
            <form id="form_password_reset" method="post">
                {% csrf_token %}
                <div class="form-outline mb-3">
                    <label class="form-label" for="id_email">Email</label>
                    <input type="email" id="id_email" class="form-control" name="email" placeholder="Votre email" autocomplete="email" required>
                </div>
                <button type="submit" class="btn btn-outline-dark w-100">Envoyer les instructions</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
