{% extends 'applipizza/base.html' %}
{% block title %}Confirmation envoi d'instructions{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-dark">Confirmation envoi d'instructions</div>
        <div class="card-body px-5">
            <h2>Message de réinitialisation du mot de passe envoyé</h2>
            <p>
                Nous vous avons envoyé par email les instructions pour changer de mot de passe,<br>
                pour autant qu'un compte existe avec l'adresse que vous avez indiquée.<br>
                Vous devriez rapidement recevoir un message.<br>
                Dans le cas contraire, contrôlez vos spams et vérifiez que l'adresse email mentionnée est<br>
                bien votre adresse de contact.
            </p>
            <a class="btn btn-dark btn-lg btn-block" href="{% url 'login' %}">Connexion</a>
        </div>
    </div>
</div>
{% endblock %}
