{% load static %}
<!-- Copyright -->
        <p class="col-md-4 mb-0 text-muted">© 2023 | Copyright | Pizza Land, All rights reserved</p>

        <a href="#"><img class="bi me-2" src="{% static 'applipizza/img/pizza_no_b.png' %}" alt="Logo Pizza" width="30" height="24" class="d-inline-block align-text-top"></a>

        <ul class="nav foot col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pizzas</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nos Tarifs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        </ul>
<!-- Copyright -->