{% extends 'applipizza/base.html' %}

{% block title %}Détails d'une pizza{% endblock %}

{% block main %}
<h2> {{pizza.nomPizza}}</h2>
{% if ingredientsPizza|length == 0 %}
<p>{{pizza}}</p>
<div class="container center">
  <div class="container"><p>La pizza {{pizza.nomPizza}} n'a pas encore d'ingrédient !</p></div>
</div>
{% else %}
<div class="container">
  <div class="card card-style m-5">
    <div class="row g-0">
      <div class="col-md-6 col-lg-6 d-none d-md-block">
        <img src="{{MEDIA_URL}}{{pizza.image}}" alt="image de pizza" title="{{pizza.nomPizza}}" class="card-img-top"/>
      </div>
      <div class="col-md-6 col-lg-6 align-items-center">
        <div class="table-responsive m-3">
          <table class="table table-borderless">
              <thead> 
                <tr>
                  <th scope="col">Ingrédient</th>
                  <th scope="col">Quantité</th>
                  {% if user.is_staff %}
                  <th scope="col">Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for ingredient in ingredientsPizza%}
                <tr>
                  <th scope="row">{{ingredient.nomIngredient}}</th>
                  <td>{{ingredient.quantite}}</td>
                  {% if user.is_staff %}
                  <td><a class="lien-style" href="/pizzas/{{pizza.idPizza}}/deleteIngredient/{{ingredient.idCompo}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg></a></td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
    {% if user.is_authenticated and user.is_staff == False %}
    <div class="card-footer">
      <div class="container d-flex justify-content-center">
        <a class="btn btn-outline-success m-2" href="/pizzas/{{pizza.idPizza}}/buy/">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
          </svg>
        </a>
      </div>
      {% endif %}

  </div>
  </div>
</div>
{% endif %}
{% if user.is_staff %}
<!-- Ajout ingrédient -->
<h2>Aouter un ingrédient à la pizza</h2>
<div class=" container">
  <form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
    {% csrf_token %}
    <div class="mb-3">
    <label for="id_ingredient">Ingrédient</label>
    <select class="form-select" name="ingredient" required id="id_ingredient">
      <option value="">Choississez l'ingrédient à ajouter</option>
      {% for ing in ingredients %}
      <option value="{{ing.idIngredient}}">{{ing.nomIngredient}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="mb-3">
      <label for="id_quantite">Quantité</label>
      <input type="text" class="form-control" name="quantite" required id="id_quantite" maxlength="100">
      </div>
    <button type="submit" class="btn btn-dark">Envoyer</button>
</form>
</div>
{% endif %}
{% endblock %}